<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <div class="footer__card footer__card--long">
                <a href="/" class="logo">
                    <img src="/img/svg/logo.svg" alt="Acme Soft" class="logo__icon">
                    <div class="logo__title logo__title--black">
                        Acme Soft
                    </div>
                </a>
                <div class="footer__social-nav">
                    <a href="/" target="_blank" class="footer__social-item">
                        <img src="/img/svg/skype.svg" alt="">
                    </a>
                    <a href="/" target="_blank" class="footer__social-item">
                        <img src="/img/svg/instagram.svg" alt="">
                    </a>
                    <a href="/" target="_blank" class="footer__social-item">
                        <img src="/img/svg/linkedin.svg" alt="">
                    </a>
                    <a href="/" target="_blank" class="footer__social-item">
                        <img src="/img/svg/facebook.svg" alt="">
                    </a>
                    <a href="/" target="_blank" class="footer__social-item">
                        <img src="/img/svg/twitter.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="footer__card">
                <div class="footer__card-title">Company</div>
                <div class="footer__card-list">
                    <a href="/" class="footer__card-list-item">About us</a>
                    <a href="/" class="footer__card-list-item">How it Works</a>
                    <a href="/" class="footer__card-list-item">Security</a>
                </div>
            </div>
            <div class="footer__card">
                <div class="footer__card-title">Browse</div>
                <div class="footer__card-list">
                    <a href="/" class="footer__card-list-item">Pricing</a>
                    <a href="/" class="footer__card-list-item">Applications</a>
                    <a href="/" class="footer__card-list-item">Some Info</a>
                </div>
            </div>
            <div class="footer__card">
                <div class="footer__card-title">Contact</div>
                <div class="footer__card-list">
                    <a href="/" class="footer__card-list-item">Contact</a>
                    <a href="/" class="footer__card-list-item">Terms of Use</a>
                    <a href="/" class="footer__card-list-item">Hire for Work</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="footer__bottom-content">
                Acme Soft 2020. All rights reserved.
            </div>
        </div>
    </div>
</footer>