<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="logo">
                <img src="/img/svg/logo.svg" alt="Acme Soft" class="logo__icon">
                <div class="logo__title">
                    Acme Soft
                </div>
            </div>
            <nav class="header__nav">
                <a href="/" class="header__nav-item">Pricing</a>
                <a href="/" class="header__nav-item">Applications</a>
                <a href="/" class="header__nav-item">Contact</a>
                <a href="/" class="btn btn--light">SUPPORT</a>
            </nav>
        </div>
    </div>
</header>