// Logo
.logo {
  display: flex;
  align-items: center;

  &__icon {
    width: 35px;
  }

  &__title {
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-left: 10px;
  }
}

// Btn
.btn {
  display: inline-block;
  text-transform: uppercase;
  color: #ffffff;
  padding: 13px 30px;
  transition: all .2s ease-out;
  border-radius: 4px;
  font-weight: 700;

  &:hover {
    opacity: .7;
  }

  &--light {
    background-color: rgba(153, 211, 255, .5);
    border: 1px solid #8db5fa;
  }

  &--grad {
    background-image: linear-gradient(to right, #f8b28c 0%, #d64562 100%);
    padding: 15px 50px;
  }
}

// Main
.main {
  min-height: 95vh;
  background-image: url('../img/bg_pattern@4x.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  display: flex;
  align-items: center;

  &__scroll-icon {
    position: absolute;
    bottom: 10px;
    right: 65px;
    width: 22px;
  }

  &__inner {
    padding: 100px 0;
    text-align: center;
    color: #ffffff;

    .btn {
      margin-top: 55px;
    }
  }

  &__title {
    font-size: 48px;
    font-weight: 700;

    span {
      color: #da5467;
    }
  }

  &__caption {
    font-size: 22px;
    margin-top: 45px;
  }

  &__desc {
    font-size: 16px;
    max-width: 600px;
    margin: 45px auto 0;
    line-height: 25px;
  }
}

// We do
.we-do {
  padding: 100px 0 70px;

  &__tabs {
    display: flex;
    align-items: center;
    margin-top: 85px;

    &-nav {
      width: 50%;
      counter-reset: list;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      &-item {
        font-size: 28px;
        font-weight: 700;
        color: #000;
        opacity: .5;
        cursor: pointer;
        -moz-user-select: none;
        -khtml-user-select: none;
        user-select: none;
        transition: all .2s ease-out;

        &::before {
          content: '0' counter(list);
          counter-increment: list;
          color: #d84c64;
          margin-right: 15px;
        }

        &--active {
          opacity: 1;
        }

        &:hover {
          margin-left: 10px;
        }

        & + & {
          margin-top: 45px;
        }
      }
    }

    &-content {
      width: 50%;

      &-title {
        margin-top: 25px;
        font-size: 19px;
        font-weight: 700;
      }

      .text {
        margin-top: 15px;
      }
    }
  }
}

// Title
.title {
  color: #000000;
  font-size: 28px;
  font-weight: 700;

  &--center {
    text-align: center;
  }

  &--white {
    color: #ffffff;
  }
}

// Billet
.billet {
  padding: 70px 0;

  &__inner {
    width: 100%;
    max-width: 80%;
    box-shadow: 0 7px 17px rgba(68, 128, 235, 0.14);
    border-radius: 4px;
    background-color: #ffffff;
    padding: 60px 70px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  &__action {
    flex-shrink: 0;
    margin-left: 50px;
  }

  .text {
    margin-top: 25px;
  }
}

// Text
.text {
  font-size: 16px;
  color: #66707a;
  line-height: 25px;

  &--white {
    color: #ffffff;
  }
}

// Blog
.blog {
  background-color: #447fec;
  padding: 70px 0 100px;

  &__about {
    margin-top: 35px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .text {
      max-width: 800px;
    }

    .btn {
      margin-left: 20px;
      flex-shrink: 0;
    }
  }

  &__cards {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;

    &-item {
      box-shadow: 0 7px 17px rgba(0, 0, 0, 0.14);
      border-radius: 4px;
      background-color: #fafafa;
      width: calc((100% / 3) - 25px);
      overflow: hidden;
    }

    &-photo {
      height: 300px;

      img {
        object-position: center;
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }

    &-content {
      padding: 25px 30px 35px;
      display: flex;
      flex-direction: column;
    }

    &-title {
      font-size: 17px;
      color: #000;
      font-weight: 700;
    }

    &-desc {
      color: #66707a;
      font-size: 12px;
      margin-top: 15px;
      line-height: 17px;
    }

    &-more {
      font-size: 12px;
      color: #3d7cdd;
      font-weight: 700;
      transition: all .2s ease-out;
      margin-top: 35px;
      display: inline-block;
      margin-left: auto;

      &:hover {
        color: #e1686f;
      }
    }
  }
}

// Post
.post {
  padding: 70px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__photo {
    box-shadow: 0 7px 17px rgba(68, 128, 235, 0.14);
    position: relative;
    width: calc(50% - 25px);
    padding-bottom: calc(50% - 25px);

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__text {
    box-shadow: 0 7px 17px rgba(68, 128, 235, 0.14);
    width: calc(50% - 25px);
    padding: 50px;
    font-size: 25px;
    color: #66707a;
    line-height: 40px;
    letter-spacing: 0.21px;
  }
}

.action {
  padding: 90px 0;
  background-image: linear-gradient(to right, #3d7ee0 0%, #3d7dde 100%);
  text-align: center;

  .btn {
    margin-top: 75px;
  }
}