// Logo
.logo {
  display: flex;
  align-items: center;

  &__icon {
    width: 35px;
  }

  &__title {
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-left: 10px;
  }
}

// Btn
.btn {
  display: inline-block;
  text-transform: uppercase;
  color: #ffffff;
  padding: 13px 30px;
  transition: all .2s ease-out;

  &:hover {
    opacity: .7;
  }

  &--light {
    background-color: rgba(153, 211, 255, .5);
    border: 1px solid #8db5fa;
    border-radius: 4px;
  }
}