// MAX-WIDTH --------------------
@media (max-width: 1199px) {
  .post {

    &__text {
      font-size: 20px;
      line-height: 32px;
    }
  }
}

@media (max-width: 991px) {
  .main {

    &__scroll-icon {
      display: none;
    }
  }

  .we-do {
    padding: 50px 0;

    &__tabs {
      margin-top: 50px;

      &-nav {

        &-item {
          font-size: 20px;

          & + & {
            margin-top: 30px;
          }
        }
      }
    }
  }

  .header {

    &__nav {

      & > * + * {
        margin-left: 30px;
      }
    }
  }

  .billet {
    padding: 50px 0;

    &__inner {
      max-width: 100%;
      padding: 50px;
    }
  }

  .blog {
    padding: 50px 0;

    &__cards {

      &-item {
        width: calc((100% / 3) - 10px);
      }

      &-photo {
        height: 200px;
      }
    }
  }

  .post {
    padding: 50px 0;

    &__text {
      font-size: 18px;
      line-height: 29px;
      padding: 30px;
    }
  }

  .action {
    padding: 50px 0;

    .btn {
      margin-top: 50px;
    }
  }

  .footer {

    &__top {
      padding: 50px 0;
    }

    &__bottom {
      padding: 20px 0;
    }
  }
}

@media (max-width: 767px) {
  .header {

    &__nav {

      &-item {
        font-size: 12px;
      }

      & > * + * {
        margin-left: 10px;
      }
    }
  }

  .btn {
    font-size: 12px;
    padding: 10px 20px;
  }

  .logo {

    &__title {
      font-size: 11px;
      margin-left: 5px;
    }

    &__icon {
      width: 25px;
    }
  }

  .main {
    background-image: linear-gradient(90deg, #3d7ee0 0, #3d7dde);
    min-height: 100%;

    &__title {
      font-size: 32px;
    }

    &__caption {
      font-size: 20px;
      margin-top: 25px;
    }

    &__desc {
      font-size: 14px;
      margin: 30px auto 0;
    }

    &__inner {
      padding: 100px 0 50px;

      .btn {
        margin-top: 30px;
      }
    }
  }

  .title {
    font-size: 23px;
  }

  .text {
    font-size: 14px;
  }

  .we-do {

    &__tabs {
      flex-direction: column;

      &-nav {
        width: 100%;
      }

      &-content {
        width: 100%;

        &-item {
          margin-top: 50px;
        }

        &-title {
          font-size: 17px;
        }
      }
    }
  }

  .billet {

    &__inner {
      padding: 30px;
      flex-direction: column;
      text-align: center;
    }

    &__action {
      margin-left: 0;
      margin-top: 25px;
    }
  }

  .blog {

    &__about {
      flex-direction: column;

      .btn {
        margin-left: 0;
        margin-top: 15px;
      }
    }

    &__cards {
      flex-direction: column;

      &-item {
        width: 100%;

        & + & {
          margin-top: 15px;
        }
      }

      &-photo {
        height: 300px;
      }
    }
  }

  .post {

    &__inner {
      flex-direction: column;
    }

    &__photo {
      width: 100%;
      padding-bottom: 75%;
    }

    &__text {
      width: 100%;
      margin-top: 15px;
    }
  }

  .footer {

    &__top {
      flex-wrap: wrap;
      padding: 30px 0;
    }

    &__card {
      width: 33%;
      margin-top: 30px;

      &--long {
        width: 100%;
        margin-top: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      &-title {
        font-size: 16px;
      }

      &-list {
        margin-top: 30px;

        &-item {

          & + & {
            margin-top: 15px;
          }
        }
      }
    }

    &__social {

      &-nav {
        margin-top: 0;
      }
    }
  }
}

@media (max-width: 479px) {
  .header {

    &__inner {
      flex-direction: column;
      padding: 10px 0;
    }

    &__nav {
      margin-left: 0;
      margin-top: 5px;
    }
  }

  .post {

    &__text {
      font-size: 14px;
      line-height: 24px;
      padding: 15px;
    }
  }

  .action {

    .btn {
      margin-top: 30px;
    }
  }

  .footer {

    &__card {
      width: 100%;

      &--long {
        flex-direction: column;
      }

      &-list {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &-title {
        text-align: center;
      }

      & + & {
        margin-top: 30px;
      }
    }

    &__social {

      &-nav {
        margin-top: 10px;
      }
    }
  }
}